.radio {
    margin-bottom: 1rem;
    font-size: larger;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.radio>label {
    margin-bottom: .6rem;
    font-weight: bold;
}

.container_options {
    margin: 10px;
}

.options {
    margin-right: 2rem;
}
.options input {
    margin-right: .3rem;
}

@media (max-width: 360px) {
    .radio>label {
        margin-bottom: 0rem;

    }

    .container_options {
        margin: 7px;
    }
}