.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form_control label {
    margin-bottom: .6rem;
    font-size: larger;
    font-weight: bold;
}

.form_control input {
    padding: .7rem;
    font-size: larger;
    border-radius: 3px;
    border: 1px solid #000000a8;   
}

.form_control input::placeholder {
    color: #7b7b7b;
}

.double {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}


.double input {
    width: 170px;
    margin-left: 15px;
}

@media (min-width: 1024px) {
    .form_control {
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .double {
        margin-right: 50px;    
    }

    .num input {
        width: 200px;
    }

    .endereco input{
        width: 250px;
    }

    .email input {
        width: 300px;
    }
}