.buscar {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 30px;
}

.titleTable {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.btn_invoice {
    padding: .7rem 1rem;
    border: none;
    background-color: rgb(0, 115, 255);
    color: #FFF;
    border-radius: 2px;
    opacity: .9;
}

.btn_invoice:hover {
    opacity: 1;
}

table {
    border-collapse: collapse;
    width: 95%;
    margin: auto;
}
th, td {
    border: 1px solid #000;
    padding: 8px;
}
th {
    background-color: var(--column-color);
    color: #fff;
    text-align: center;
}
td {
    background-color: #FFF;
    padding-top: 18px;
    text-align: center;
}

.esconde {
    display: none;
}


@media (max-width: 769px) and (min-width: 427px) {
    table {
       font-size: 14px;  /* Adjust font size for smaller screens */
    }
 }
 
 @media (max-width: 426px) {
    table {
       font-size: 12px;  /* Further adjust font size for even smaller screens */
    }
    .btn_invoice {
        font-size: 12px;
    }

    .hide-on-small-screen {
        display: none;
     }
 }
