.container {
    background-color: var(--secondary-color);
    color: var(--secondary-color-letters);
    padding: 5rem 6.4em;
    margin: 3rem 0;
    font-size: larger;
    border-radius: 10px;
}

.active {
    background-color: aqua;
}