.slick-list {
  padding: 30px 150px !important;
}

.carousel-container {
  width: 90%;
}

.slick-slide > div {
  margin: 0 15px;
  box-sizing: border-box;  
  
}

.carousel-card {
  background-color: var(--secondary-color);
  position: relative;
  color: #fff;
  transition: 500ms; /* Adicionei a transição aqui para suavizar as mudanças */
  border-radius: 10px;
}

.slick-slide:not(.slick-center) {
  filter: opacity(.9);
  z-index: 1;
}

.cardContainer {
  min-height: 45vh;
  
  padding: 10px;
  
  text-align: center;
  font-weight: bold;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-center .carousel-card {
  transform: scale(1.1);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #0000008a;
  z-index: 2;
  
}

.slick-arrow.slick-next:before,
.slick-arrow.slick-prev:before {
  content: "";
}


.slick-next {
  right: -26px;
}

.slick-prev {
  left: -70px;
}

@media (max-width:1024px)  and (min-width: 769px) {
  .carousel-container {
    max-width: 80%;
  }
}
@media (max-width:768px)  and (min-width: 427px) {
  .carousel-container {
    max-width: 80%;
  }
}

@media(max-width:426px) {
  .carousel-container {
    display: none;
  }
}