:root {
  --primary-color: #507C50;
  --secondary-color: #6DA230;
  --tertiary-color: #FFDE59;
  
  --column-color: #337EAB;
  
  --primary-color-letters: #727272;
  --secondary-color-letters: #fff;

  background-color: #f4f4f4;
  color: var(--primary-color-letters);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Lato', sans-serif;;
}